
*{
    text-align: center;
}
table{
    background-color: grey;
    width: 70%;
    text-align: center;
    margin-left: 15%;
}
footer{
    /*padding: 1%;*/
    margin: 1%;
    background-color: brown;
    width: 100%;
    height: 60px;
    text-align: center;
}
nav ul{
    padding-top: 4%;
    background-color: brown;
    width: 100%;
    height: 50px;
    text-align: center;
    
}
ul li{
    display: inline;
    margin: 2%;
}
nav ul li{
    display: inline;
    margin: 2%;
}
nav ul li a{
    text-decoration: none;
    list-style-type: none;
    color: yellow;
}
.logo{
    margin-left: 3%;
    text-transform: capitalize;
    float: left;
    color: white;
}
/*table*/
.bor-1{
    border:  1px solid yellow;
}
/* .zoom {
    width: 200px;
    height: 150px;
    }*/
    .image {
    width: 100%;
    height: 100%;
    }
    .image img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    }
    .image:hover img {
    /* L'image est grossie de 25% */
    -webkit-transform:scale(1.25); /* Safari et Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* Internet Explorer 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
    }

    .bi {
        color: aliceblue;
    }
    .bi:hover{
        color: aqua;
    }
    .container{
        padding: 3%;
    }
    table{
        padding-bottom: 3%;
    }
    .lion-img ,.cat-image{
        padding: 5%;
    }
    ol li{
        text-align: left;
    }
    p{
        width: 40%;
        border: 1px solid black;
        display: block;
        margin-left: 30%;
        background-color: rgb(214, 144, 144);

    }
    